* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.gradient-background {
    background: linear-gradient(45deg, #5fa6d5, #3be0ac);
}


.font-large {
    font-size: 3rem !important;
}

.font-medium {
    font-size: 2rem !important;
}

.title {
    font-family: "Metropolis", sans-serif;
    color: #121212;
    margin-bottom: .5rem;
}

#hero {
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    overflow: hidden;
    margin: 0 !important;
}

#hero__video {
    height: 100%;
    width: 100%;
    padding: 1rem;
}

#hero__text {
    padding: 1rem;
    margin-bottom: 2vh;
}

#hero__btn .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: #FFF;
    background-color: #9763f6;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow:0px 5px 8px rgb(0, 0, 0, .2);
}

.slide {
    transform: translateX(100%);
    animation: slide-in-anim 1s ease-out forwards;
    opacity: 0;
}

@keyframes slide-in-anim {
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

#about_us {
    margin: 5vh auto;
}

#about_us .logo {
    width: 200px;
    height: 200px;
    align-self: center;
}

#about_us .logo > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

#about_us .title, #about_us .content {
    text-align: center !important;
}

#about_us .title {
    color:rgb(44, 84, 153);
    margin: 1rem 0;
}

#about_us .content {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

#about_us .carousel-indicators {
    transform: translateY(100%);
}
#about_us .carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color:rgb(0, 0, 0, 1);
    border-radius: 100%;      
}

#advantages {
    margin: 20vh auto;
}

#advantages .title {
    align-self: center;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
}

#advantages .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* background-color: #CCC; */
    margin: 25px 0px;
    border: none;
}

#advantages .card-title {
    font-family: "Fira Code", mono;
    font-weight: 500 !important;
    font-size: 1rem;
}

#advantages .card-text {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {

    .font-large {
        font-size: 2.4rem !important;
    }

    .font-medium {
        font-size: 1.8rem !important;
    }

    #hero {
        align-items: flex-start;
        text-align: center;
    }

    #hero__video {
        height: 25vh;
        width: 100%;
    }

    #hero__text {
        padding: 1.3rem;
    }

    #about_us .content {
        font-size: 1.2rem;
    }

}